<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<welcome-file-list>
		<welcome-file></welcome-file>
	</welcome-file-list>
	
	<!-- 通过上下文参数，找到spring配置文件的路径和名字 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
	
		<param-value>classpath:app.xml</param-value>
	</context-param>
	
	<!-- 配置服务器范围监听器，当服务器启动的时候，就初始化spring容器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<servlet>
		<servlet-name>dispactcherservlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:app.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dispactcherservlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
</web-app>